[Desktop Entry]
Type=Application
Name=MarkdownMaker
Comment=Simple application to make markdown documentation
Exec=mdmaker
Icon=markdownmaker
Categories=Development;
